/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2016, 10:27:50 AM
    Author     : NerZhul
*/

section h3 {
    font-family: Copperplate, sans-serif;
}

section p {
    font-family: CopperplateLight, sans-serif;
    font-size: 18px;
    text-indent: 30px;
}

section .mask {
    padding: 30px 0;
}

section.family {
    padding-top: 100px;
}

section.family .mask {
    overflow: hidden;
}

section.family .photos {
    width: 4500px;
}

section.family .photos:hover {
    animation-play-state: paused;
}   

section.family .photos img {
    height: 400px;
}

section.family .photos img {
    transition: all 0.7s ease;
}

section.family .photos img:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 3px #aaa;
} 

section.family img:first-child {
    animation: carousel 60s linear infinite;
    animation-play-state: inherit;
}

section.ozzy .small-screen {
    display: none;
}

section.ozzy .photos {
    text-align: center;
}

section.ozzy .photos img {
    display: none;
    width: 330px;
}

section.ozzy .photos .active {
    display: inline;
}

@keyframes carousel {
    
    0% {
        margin-left: 0px;
    }
    
    100% {
        margin-left: -3425px;
    }
    
}



@media (max-width: 767px) {
    
    section.family {
        padding-top: 20px;
    }
    
    section.ozzy .large-screen {
        display: none;
    }
    
    section.ozzy .small-screen {
        display: block;
    }
    
}