/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2016, 10:27:50 AM
    Author     : NerZhul
*/

/*
    GENERAL
*/

section {
    margin: 50px auto;
}

section h3{
    font-family: Copperplate, sans-serif;
}

section p {
    font-family: CopperplateLight, sans-serif;
    font-size: 18px;
    text-indent: 30px;
}

section .mask {
    margin: 0;
}

/*
    SECTION.FAMILY
*/

section.family {
    padding-top: 90px;
}

section.family .mask {
    overflow: hidden;
    padding: 25px 0;
}

section.family .photos {
    width: 4500px;
}

section.family .photos img {
    height: 400px;
    transition: all 0.7s ease;
}

section.family .photos img:hover {
    cursor: pointer;
} 

section.family img:first-child {
    animation: carousel 60s linear infinite;
    animation-play-state: inherit;
}

/*
    SECTION.FAMILY.MODAL
*/

#familyModal .modal-dialog {
    width: 767px;
}

#familyModal .modal-image {
    position: relative;
}

#familyModal img {
    width: 100%;
    transition: opacity 1s;
}

#familyModal span {
    font-size: 35px;
    color: #fff;
}

#familyModal .prev-button-modal,
#familyModal .next-button-modal {
    z-index: 9;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}

#familyModal .prev-button-modal {
    left: 0px;
}

#familyModal .next-button-modal {
    right: 0px;
}

#familyModal .modal-arrow-left,
#familyModal .modal-arrow-right {
    position: absolute;
    top: 47%;
}

#familyModal .modal-arrow-left {
    left: 5px;
}

#familyModal .modal-arrow-right {
    right: 5px;
}

/*
    SECTION.OZZY
*/

section.ozzy .mask {
    position: relative;
    overflow: hidden;
    padding: 25px 0;
    z-index: 5;
}

section.ozzy .prev-button,
section.ozzy .next-button {
    z-index: 9;
    position: absolute;
    top: 43%;
}

section.ozzy .prev-button {
    left: 0px;
}

section.ozzy .next-button {
    right: 0px;
}

section.ozzy .btn {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5); 
}

section.ozzy .photos {
    text-align: center;
    position: relative;
}

section.ozzy .photos #img_main {
    height: 400px;
    position: relative;
    transition: opacity 1s;
}

section.ozzy .photos #img_over {
    position: absolute;
    height: 800px;
    top: 0px;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
} 

/*
    SECTION.BIKE
*/

section.bike {
    overflow: hidden;
}

section.bike .image {
    text-align: center;
}

section.bike .image img {
    margin-top: 20px;
}
    
section.bike iframe {
    height: 400px;
    width: 550px;
}

section.bike .video h3 {
    font-size: 20px
}

section.bike .animated-to-viewport {
    transform: translate(500px,0);
}

section.bike .in-viewport {
    transform: translate(0,0);
}

@keyframes carousel {
    
    0% {
        margin-left: 0px;
    }
    
    100% {
        margin-left: -2575px;
    }
    
}

@media (max-width: 1199px) {
    
    section.bike iframe {
        height: 350px;
        width: 450px;
    }
    
}

@media (max-width: 991px) {
    
    section.bike iframe {
        height: 260px;
        width: 330px;
    }
    
}

@media (min-width: 768px) {
    
    section.family .photos img:hover {
        transform: scale(1.1);
        box-shadow: 0px 3px 3px #aaa;
    } 
    
    section.family .photos:hover {
        animation-play-state: paused;
    } 
    
    
    #familyModal .prev-button-modal:hover,
    #familyModal .next-button-modal:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    @keyframes carousel {

        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: -3425px;
        }

    }
    
} 

@media (max-width: 767px) {

    section {
        margin: 0 auto;
    }    
    
    section.family {
        padding-top: 20px;
    }
    
    section.family .photos img {
        height: 300px;
    }   
 
    #familyModal .modal-dialog {
        width: 97%;
    }

    #familyModal .prev-button-modal,
    #familyModal .next-button-modal {
        opacity: 1;
    }
        
    section.bike .image img {
        margin: 0 auto;
    }
    
    section.bike .video {
        text-align: center;
    }
    
}

@media (max-width: 480px) {
    
    section.ozzy .photos #img_main {
        height: 330px;
    }

}