/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2016, 8:03:20 PM
    Author     : NerZhul
*/

.inactive-button {
    opacity: 0.6;
    cursor: not-allowed;
}

.player-text {
    color: #3e9953;
}

.monster-text {
    color: #c13409;
}

.gameover {
    font-size: 8vw;
    text-align: center;
    margin: 255px auto;
}





p {
    font-family: CopperplateLight, sans-serif;
    font-size: 18px;
}

h3, h4 {
    font-family: Copperplate, sans-serif;
}

span, button, h1 {
    font-family: CopperplateBold, sans-serif;
}

/*
    SECTION.START
*/

#start {
    padding-top: 70px;
}

#start .container > img {
    margin: 0 auto;
}

#start .container > p {
    text-indent: 30px;
}
    
#start h1 {
    text-align: center;
    margin: 20px auto 0 auto;
    font-family: Copperplate, sans-serif;
    font-size: 50px;
    color: #0099cc;
    text-shadow: 2px 2px 2px #333;
}

#start h3{
    text-align: center;
}

#start li img {
    width: 40px;
}

#start button {
    display: block;
    margin: 30px auto;
    font-size: 35px;
}

/*
    SECTION.INTRO
*/

#intro {
    margin-top: 52px;
    display: none;
    text-shadow: 1px 1px black;
}

#intro .container {
    background: url("../media/0-Inn.jpg") center no-repeat;
    background-size: cover;
    border-radius: 0px;
    color: #fff;
}

#intro .char-class-img {
    height: 100px;
}

#intro .char-spec-img {
    height: 40px;
}

#intro .hp {
    height: 25px;
}

#intro img,
#intro .row h3,
#intro .row h4,
#intro .row p {
    display: inline;
}

#intro .col-xs-6 {
    padding: 0px 4px;
}

#intro .row {
    text-align: center;
}

#intro .container > .row {
    background-color: rgba(100, 100, 100, 0.5);
}

#intro ul {
    list-style-type: none;
    margin: 10px 0; 
    padding: 0;
}

#intro li {
    margin: 0; 
    padding: 0;
    font-size: 16px;
    font-family: Copperplate, sans-serif;
}

#intro p {
    text-indent: 30px;
    font-size: 20px;
    font-family: Copperplate, sans-serif;
}

#intro .row p {
    font-size: 16px;
    font-family: Copperplate, sans-serif;
}

#intro .general-stats ul {
    margin-left: 0;
}

#intro button,
#intro button:hover,
#intro button:focus,
#intro button:active,
#intro button:focus:active {
    background-color: #264d73;
    color: #fff;
    outline: none;
    border: 1px solid #333;
    font-size: 11px;
    padding: 6px;
    margin-bottom: 5px;
}

#intro span {
    font-style: italic;
}

#intro input {
    background-color: rgba(100, 100, 100, 0.8);
    font-family: Copperplate, sans-serif;
    color: #aaa;
}

#intro input,
#intro input:focus,
#intro input:active {
    outline: none;
}

#intro #char-name,
#intro #char-name:hover,
#intro #char-name:focus,
#intro #char-name:active,
#intro #char-name:focus:active {
    background-color: #fff;
    color: #000;
    outline: none;
    border: 1px solid #333;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
}

/*
    SECTION.MAIN-MODULE
*/

#main-module {
    margin-top: 52px;
    display: none;
    text-shadow: 1px 1px black;
}

#main-module .container {
    background: url("../media/0-Inn.jpg") center no-repeat;
    background-size: cover;
    border-radius: 0px;
    color: #fff;
}

#main-module .info-part {
    display: inline;
    padding: 0 5px;
}

#main-module .col-xs-12 {
    padding: 0;
}

#main-module #player-info .row,
#main-module #monster-info .row {
    padding: 0 10px;
}

#main-module img.portrait{
    height: 75px;
    text-align: center;
}

#main-module h2{
    margin: 5px auto;
}

#main-module .regalia img,
#main-module .regalia p {
    display: inline;
}

#main-module .regalia > img{
    height: 25px;
}

#main-module img:nth-child(5) {
    margin-left: 10px;
}

#main-module .battle-buttons {
    text-align: center;
}

#main-module button,
#main-module button:hover,
#main-module button:focus,
#main-module button:active,
#main-module button:focus:active {
    background-color: #444;
    color: #fff;
    outline: none;
    border: 3px solid #111;
    font-size: 20px;
    padding: 6px;
    margin: 20px 20px;    
}

#main-module #fight-button button {
    margin: 330px auto;
}

#main-module,
#main-module #fight-button {
    opacity: 1;
    transition: opacity 0.5s;
}

#main-module #battle-buttons,
#main-module #log-screen,
#main-module #next-buttons,
#main-module #restart-button {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

#main-module #fight-button img, 
#main-module #battle-buttons img{
    height: 30px;
}

#main-module p {
    text-indent: 30px;
    font-size: 20px;
    font-family: Copperplate, sans-serif;
    white-space: pre-wrap;
}

#main-module #log-screen {
    width: 95%;
    height: 580px;
    margin: 20px auto;
    background: center center no-repeat;
    background-color: black;
    background-size: cover;
    overflow-y: auto;
    padding: 10px;
}




@media (max-width: 992px) {
    
    .gameover {
        margin: 265px auto;
    }

}

@media (max-width: 768px) {
    
    .gameover {
        margin: 275px auto;
    }

}