/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2016, 8:03:20 PM
    Author     : NerZhul
*/

p {
    font-family: CopperplateLight, sans-serif;
    font-size: 18px;
}

h3, h4 {
    font-family: Copperplate, sans-serif;
}

span, button, h1 {
    font-family: CopperplateBold, sans-serif;
}

/*
    SECTION.START
*/

section.start {
    padding-top: 70px;
}

section.start .container > img {
    margin: 0 auto;
}

section.start .container > p {
    text-indent: 30px;
}
    
section.start h1 {
    text-align: center;
    margin: 20px auto 0 auto;
    font-family: Copperplate, sans-serif;
    font-size: 50px;
    color: #0099cc;
    text-shadow: 2px 2px 2px #333;
}

section.start h3{
    text-align: center;
}

section.start li img {
    width: 40px;
}

section.start button {
    display: block;
    margin: 30px auto;
    font-size: 35px;
}

/*
    SECTION.INTRO
*/

section.intro {
    margin-top: 52px;
    display: none;
    text-shadow: 1px 1px black;
}

section.intro .container {
    background: url("../media/1-Inn.jpg") center no-repeat;
    background-size: cover;
    border-radius: 0px;
    color: #fff;
}

section.intro .char-class-img {
    height: 100px;
}

section.intro .char-spec-img {
    height: 40px;
}

section.intro .hp {
    height: 25px;
}

section.intro img,
section.intro .row h3,
section.intro .row h4,
section.intro .row p {
    display: inline;
}

section.intro .col-xs-6 {
    padding: 0px 4px;
}

section.intro .row {
    text-align: center;
}

section.intro .container > .row {
    background-color: rgba(100, 100, 100, 0.5);
}

section.intro ul {
    list-style-type: none;
    margin: 10px 0; 
    padding: 0;
}

section.intro li {
    margin: 0; 
    padding: 0;
    font-size: 16px;
    font-family: Copperplate, sans-serif;
}

section.intro p {
    text-indent: 30px;
    font-size: 20px;
    font-family: Copperplate, sans-serif;
}

section.intro .row p {
    font-size: 16px;
    font-family: Copperplate, sans-serif;
}

section.intro .general-stats ul {
    margin-left: 0;
}

section.intro button,
section.intro button:hover,
section.intro button:focus,
section.intro button:active,
section.intro button:focus:active {
    background-color: #264d73;
    color: #fff;
    outline: none;
    border: 1px solid #333;
    font-size: 11px;
    padding: 6px;
    margin-bottom: 5px;
}

section.intro span {
    font-style: italic;
}

section.intro input {
    background-color: rgba(100, 100, 100, 0.8);
    font-family: Copperplate, sans-serif;
    color: #aaa;
}

section.intro input,
section.intro input:focus,
section.intro input:active {
    outline: none;
}


section.intro .char-name,
section.intro .char-name:hover,
section.intro .char-name:focus,
section.intro .char-name:active,
section.intro .char-name:focus:active {
    background-color: #fff;
    color: #000;
    outline: none;
    border: 1px solid #333;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
}