/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2016, 11:20:59 PM
    Author     : NerZhul
*/

@font-face {
    font-family: "CopperplateBold";
    font-weight: bold;
    src: url(/fonts/CopperplateGothicBoldRegular.ttf); 
}

@font-face {
    font-family: "CopperplateLight";
    font-weight: lighter;
    src: url(/fonts/CopperplateGothicLightRegular.ttf); 
}

@font-face {
    font-family: "Copperplate";
    src: url(/fonts/CopperplateGothicRegular.ttf); 
}

body {
    width: 100%;
    background: url("../media/background.jpg") center no-repeat;
    background-size: cover;
}

/*
    VIEWPORT_ANIMATION
*/

.animated-to-viewport {
    opacity: 0;
}

.in-viewport {
    transition: all 2s;
    opacity: 1;
}

/*
    HEADER
*/

header {
    width: 100%;
    background-color: #666;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: Copperplate, sans-serif;
    padding: 5px 0;
}

header #logo,
header h3,
header .nav-icon {
    display: inline-block;
}

header .info {
}

header #logo {
    width: 50px;
    height: 50px;
}

header h3 {
    font-weight: bold;
    margin: 13px;
}

header .nav-icon {
    margin: 10px;
    padding: 5px 6px 1px 6px;
    background-color: rgba(85,85,85,0);
    border: 1px solid #666;
    border-radius: 3px;
}

header .nav-icon:hover {
    cursor: pointer;
    border: 1px solid #444;
}

header .nav-click {
    border: 1px solid #444;
    background-color: #555555;
}

header span {
    font-size: 18px;
}

header .navigation {
    margin-top: 6px;
}

header .nav-active {
    display: inline;
}

header .nav-pills li a {
    background-color: #222; 
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

header .nav-pills li a:hover {
    color: #000;
}

/*
    SECTION.SHORT_INFO
*/

section.short_info {
    font-family: CopperplateLight, sans-serif;
}

section.short_info .my_img {
    text-align: center;
    margin-top: 80px;
}

section.short_info img {
    display: inline-block;
    border-radius: 20px;
}

section.short_info .text {
    margin-top: 90px;
    font-size: 18px;
}

section.short_info p {
    margin-top: -10px;
    text-indent: 30px;
}

section.short_info .btn {
    margin-bottom: 30px;
    font-family: Copperplate, sans-serif;
    font-weight: bold;
}

/*
    SECTION.SHORT_INFO
*/

section.projects .col-sm-6 {
    text-align: center;
}

section.projects img {
    display: inline-block;
}

/*
    FOOTER
*/

footer {
    width: 100%;
    background-color: #666;
    color: white;
    font-family: Copperplate, sans-serif;
}

footer img {
    height: 32px;
    width: 32px;
}

footer ul {
    list-style-type: none;
    margin: 8px 0;
    padding-left: 0;
}

footer li {
    padding-right: 20px;
}

footer li,
footer img,
footer p {
    display: inline-block;
}

footer p {
    color: #fff;
}

footer .copyright {
    margin-top: 15px;
}

@media (min-width: 768px) {
    header .navigation {
        float: right;
        display: inline;
    }
    
    header .nav-icon {
        display: none;
    }
}

@media (max-width: 767px) {
  
    header .navigation {
        margin-bottom: 5px;
        display: none;
    }
    
    header .nav-pills {
        display: flex;
        justify-content: center;
    }
    
    header .nav-pills > li {
        float: none;
    }
     
    footer ul p {
        display: none;
    }
    
}    

@media (max-width: 480px) {  
    
    header .container,
    header .navigation,
    header .nav-pills {
        width: 100%;
    }
        
    header .col-sm-6,
    header .navigation,
    header .nav-pills li {
        margin: 0;
        padding: 0;
    }
    
    header .nav-pills {
        display: inline-block;
    }
    
    header .nav-pills > li a {
        text-align: center;
        border-radius: 0;
    }
}
