/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2016, 8:28:45 AM
    Author     : NerZhul
*/

/*
    SECTION.PROJECTS
*/

#projects {
    padding-top: 80px;
}

#projects .col-sm-12 {
    text-align: center;
}